* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#calculator {
    background-color: #444;
    padding:3em;
    border-radius: 1em;
    width: 30em;
}
#screen {
    background-color: #EEE;
    font-size: 2em;
    padding: .5em;
    margin: 0 0 .5em;
    font-family: monospace;
    border-radius: .125em;
    text-align: right;
    overflow: hidden;
}
#btnContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
}
#btnContainer button {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 700;
    border:none;
    padding:.5em .75em;
    margin: 0;
    border-radius: .125em;
    flex-basis: 25%;
}
#btnLeft, #btnRight {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
#btnLeft {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#btnRight {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
button.numBtn {
    background-color: #BBB;
}
button.numBtn:active {
    background-color: #CCC;
}
button#clearBtn {
    background-color: #FA0;
}
button#clearBtn:active {
    background-color: #FB0;
}
button#calcBtn {
    background-color: #EEE;
}
button#calcBtn:active {
    background-color: #FFF;
}
button.opBtn {
    background-color: #111;
    color: #FFF;
}
button.opBtn:active {
    background-color: #222;
}