* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#calculator {
    background-color: #444;
    padding:3em;
    border-radius: 1em;
}
#screen {
    background-color: #EEE;
    font-size: 2em;
    padding: .5em;
    margin: 0 0 .5em;
    font-family: monospace;
    border-radius: .125em;
    text-align: right;
    overflow: hidden;
}
#btnContainer {
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
}
#btnContainer button {
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 700;
    border:none;
    padding:.5em .75em;
    margin: 0;
    border-radius: .125em;
    width: 2.5em;
    height: 2.5em;
}
#btnLeft {
    width:17em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
#btnMid, #btnRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:end;
}
#btnMid button, #btnRight button {
    margin-top: .5em;
}
#btnMid button:first-child, #btnRight button:first-child {
    margin-top: 0;
}
button {
    background-color: #EFEFEF;
    position: relative;
}
button span {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%)  translateY(-50%);
}
button:active {
    background-color: #FFF;
}
button.numBtn {
    background-color: #BBB;
}
button.numBtn:active {
    background-color: #CCC;
}
button#clearBtn {
    background-color: #FA0;
}
button#clearBtn:active {
    background-color: #FB0;
}
button#calcBtn {
    height: 5.5em;
    background-color: #008000;
    color:#FFF;
}
button#calcBtn:active {
    background-color: #FFF;
}
button.opBtn {
    background-color: #111;
    color: #FFF;
}
button.opBtn:active {
    background-color: #222;
}